[submodule "docs/source/Try-Submodules"]
	path = docs/source/Try-Submodules
	url = https://github.com/LChristelis/Try-Submodules.git
[submodule "docs/source/katdal"]
	path = docs/source/katdal
	url = git@github.com:ska-sa/katdal.git
[submodule "docs/source/katpoint"]
	path = docs/source/katpoint
	url = git@github.com:ska-sa/katpoint.git
[submodule "docs/source/spead2"]
	path = docs/source/spead2
	url = git@github.com:ska-sa/spead2.git
